@import "tailwindcss";
/* Fuente base */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  font-family: Arial, Helvetica, sans-serif;
}

/* Quita padding global por defecto */
* {
  box-sizing: border-box;
}
